<div class="container">
  		<div class="row">
        <div class="col-lg-12">
          <div class="jumbotron" id="errorJumbo">
            <center>
            <h1 class="errorHeader">ERROR</h1>
          </center>
  			</div>
      </div>
    </div>
</div>
