<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="jumbotron">

                    <h2 class="searchEchoesHeading">Search For Echoes</h2>

     <form class="createForm" action="/searchEchoes" method="POST">

                    <div class="form-group">
                        <label>Category</label>
                    <select data-placeholder="" class="form-control"  name="categoryID" style="width:350px;">
                        <option  value="">Select a Category of Topic</option>
                        {{#each allCategory}}

                        <option value={{this.categoryID}}>{{this.categoryName}}</option>


                        {{/each}}
                    </select>
                     </div>
                    <br>

                            <h2>Refine Echoes Search By Location (Optional)</h2>

                    <div class="form-group">

                    <select data-placeholder="" class="form-control"  name="searchBy" style="width:350px;">
                        <option  value="">Select a Category of Topic</option>


                        <option value="City">City</option>

                        <option value="State">State / Province</option>

                        <option value="PostalCode">Postal Code</option>

                        <option value="Country">Country</option>



                    </select>

                    <br>

                     </div>

                        <div class="form-group">

                        <input type="text" class="form-control" name="topicCity" aria-describedby="emailHelp" placeholder="Topic City">
                        </div>

                        <div class="form-group">

                        <input type="text" class="form-control" name="topicState" placeholder="Topic State">
                        </div>

                        <div class="form-group">

                        <input type="textt" class="form-control" name="topicPostalCode" placeholder="Topic Postal Code">
                        </div>

                        <div class="form-group">

                        <input type="text" class="form-control" name="topicCountry" placeholder="Topic Country">
                        </div>


            <button type="submit" class="btn btn-danger pull-right" id="createEchoButton">Find Echo</button>
     </form>
   </div>
 </div>
</div>
