
  		<div class="row">

  		{{#each topics}}
  			<div class="col-lg-6 col-md-6 col-sm-6">
              <div class="jumbotron" id="mainJumbos">
      				      <div>
                        <div class="textGrouped">

                          <h4>{{this.topicName}}</h4>
                          <p>{{this.topicDescription}}
                          <a href="" class="readMore">Read More</a>

                         <form action="/startChat" method="POST">

                           <input type ="hidden" name="topicID" value="{{this.TopicID}}"/>
                           <button type="submit" class="btn btn-danger pull-right" id="mainJumboButtons">JOIN</button>

                        </form>
                      </p>
                      </div>
                  </div>


      				</div>
        </div>
          {{/each}}

      </div>
