
  <div class="row">
      	<div class="col-lg-12 col-md-12 col-sm-12">
        <center>
  			<div>
            <div class="jumbotron" id="updateEchoeJumbo">
            <div class="ficon">
            <form action="/updateNav" method="POST">
              <div class="groupEchoesForm">
              <h2 class="currentEchoes">Current Echoes</h2>
              <div class="form-group">
              <select data-placeholder="" class="form-control" name="oldCategoryID" style="width:550px;">
                <option  value="">Select New Category</option>
                {{#each userInterest}}

                <option value="{{this.categoryID}}">{{this.categoryName}}</option>


                {{/each}}
              </select>
              </div>
              <h2 class="replaceEchoes">Replace Echoes</h2>
              <div class="form-group">
              <select data-placeholder="" class="form-control"  name="newCategoryID" style="width:550px;">
                <option  value="" id="removeCategory">Remove Category</option>
                {{#each allCategory}}

                <option value="{{this.categoryID}}">{{this.categoryName}}</option>


                {{/each}}
              </select>

</div>


              <br><br>
              <button type="submit" class="btn btn-danger" id="updateEchoesTwo">Update Echoes</button>
              </form>
            </div>
            </div>

                  	{{!--this is the problem--}}
            <div class="textGrouped">
            </div>
  		</div>

      </div>
    </center>
    </div>
  </div>
