
<div class="row">
  <div class="col-lg-12">
  <div class="jumbotron">

    <h2 class="welcomeEchoWall">Welcome to Echoing Wall</h2>


  <br>
  <p>A Place to Be Yourself.
Let’s Get Started!
Popular will show you the current popular Echoes. Stay up to date on the latest.
Create is where you can start new Topics. What’s on your mind today?
Search is where you can find Echoes based on Categories and Location. Keep up on what’s happening around you!
Click a Topic on your sidebar to view real-time discussions with other EW members worldwide. Click join and send a message
to become a part of an Echo.If you spot a Troll, report them to keep the EW community safe and welcoming.
Reward friendly users with Likes. Careful, earning 10 Trolls will get you kicked from Echoing Wall, so be respectful
of those around you and, most of all, just be yourself!
</p>
</div>
</div>
</div>
